@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* El fondo del scroll (Track) */
::-webkit-scrollbar-track {
  background: #000000; /* Fondo negro total */
}

/* La barrita que se mueve (Thumb) */
::-webkit-scrollbar-thumb {
  background: #3b3b3b; /* Un gris muy oscuro para que se vea */
  border-radius: 10px;
  border: 2px solid #000000; /* Crea un efecto de padding dentro del track */
}

/* Cuando pasas el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: #9d174d; /* Rosa pink-800 para que haga juego con tus círculos */
}